{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} | Eredivise Dashboard{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ team.name }}</h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 teams">
        <div class="col">
            <div class="card team-card">
                <div class="card-header">
                    <img src="{{ team.crest }}" class="card-img-top" alt="{{ team.name }} logo">
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Colors:</strong> {{ team.colors }}<br>
                        <strong>Founded:</strong> {{ team.founded }}<br>
                        <strong>Website:</strong> <a href="{{ team.website }}" target="_blank">{{ team.website }}</a><br>
                        <strong>Venue:</strong> {{ team.venue }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-4">Matches</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Home team</th>
                        <th>Away team</th>
                        <th>Score</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for match in matches %}
                        <tr>
                            <td>{{ match.date|date('d-m-Y H:i') }}</td>
                            <td>{% if match.homeTeam == team %}<strong>{{ match.homeTeam.name }}</strong>{% else %}{{ match.homeTeam.name }}{% endif %}</td>
                            <td>{% if match.awayTeam == team %}<strong>{{ match.awayTeam.name }}</strong>{% else %}{{ match.awayTeam.name }}{% endif %}</td>
                            <td>{% if match.homeScore is not null and match.awayScore is not null %}{{ match.homeScore }} - {{ match.awayScore }}{% endif %}</td>
                            <td><div class="btn {{ match.status == 'FINISHED' ? 'btn-success' : 'btn-warning' }}">{{ match.status }}</div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2 class="mt-4">Coach</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ coach.name }}</h3>
                    <p class="card-text">
                        <strong>Date of Birth:</strong> {{ coach.dateOfBirth|date('d-m-Y') }}<br>
                        <strong>Nationality:</strong> {{ coach.nationality }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-4">Players</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for player in players %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ player.name }}</h3>
                        <p class="card-text">
                            <strong>Position:</strong> {{ player.position }}<br>
                            <strong>Date of Birth:</strong> {{ player.dateOfBirth|date('d-m-Y') }}<br>
                            <strong>Nationality:</strong> {{ player.nationality }}<br>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
