{% extends 'base.html.twig' %}

{% block title %}Teams | Eredivise Dashboard{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Teams</h1>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 teams">
        {% for team in teams %}
            <div class="col">
                <div class="card team-card">
                    <div class="card-header">
                        <img src="{{ team.crest }}" class="card-img-top" alt="{{ team.name }} logo">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{ team.name }}</h2>
                        <p class="card-text">
                            <strong>Colors:</strong> {{ team.colors }}<br>
                            <strong>Founded:</strong> {{ team.founded }}<br>
                            <strong>Website:</strong> <a href="{{ team.website }}" target="_blank">{{ team.website }}</a><br>
                            <strong>Venue:</strong> {{ team.venue }}<br>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('teams', {id: team.id}) }}" class="btn btn-primary">View team</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
