{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="page-header">
        <h1>Welcome to the Eredivisie dashboard!</h1>
    </div>

    <div class="row">
        <div class="col-12">
            {% if app.user %}
                <p>You can follow teams to show their latest result on the homepage!</p>
            {% else %}
                <p>Login to follow teams to show their latest result on the homepage!</p>
            {% endif %}

        </div>
        <div class="col-12">
            {% if app.user %}
                <a class="btn btn-primary btn-lg" href="{{ path('teams') }}">
                    Teams
                </a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}">
                    Login
                </a>
                <a class="btn btn-secondary btn-lg" href="{{ path('app_register') }}">
                    Register
                </a>
            {% endif %}
        </div>
    </div>

    {% if latest_results %}
        <h2 class="mt-4">Latest results for followed teams</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Kickoff</th>
                            <th>Home team</th>
                            <th>Away team</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for match in latest_results %}
                            <tr>
                                <td>{{ match.date|date('d-m-Y H:i', "Europe/Brussels") }}</td>
                                <td>
                                    {% if match.homeScore is not null and match.awayScore is not null and match.homeScore > match.awayScore %}
                                        <strong>{{ match.homeTeam.name }}</strong>
                                    {% else %}
                                        {{ match.homeTeam.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if match.homeScore is not null and match.awayScore is not null and match.homeScore < match.awayScore %}
                                        <strong>{{ match.awayTeam.name }}</strong>
                                    {% else %}
                                        {{ match.awayTeam.name }}
                                    {% endif %}
                                </td>
                                <td>{% if match.homeScore is not null and match.awayScore is not null %}{{ match.homeScore }} - {{ match.awayScore }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% if top_standings %}
        <h2 class="mt-4">Top standings</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped standings">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Team</th>
                            <th>Pts</th>
                            <th>m</th>
                            <th>m+</th>
                            <th>m-</th>
                            <th>m=</th>
                            <th>g+</th>
                            <th>g-</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for standing in top_standings %}
                            <tr class="standing">
                                <td>{{ standing.position }}</td>
                                <td>
                                    <a href="{{ path('team_detail', { 'id': standing.team.id }) }}" class="text-decoration-none text-dark">
                                        <img src="{{ standing.team.crest }}" alt="{{ standing.team.name }}" class="standing-team-crest img-thumbnail" />
                                        <strong>{{ standing.team.name }}</strong>
                                    </a>
                                </td>
                                <td><strong>{{ standing.points }}</strong></td>
                                <td>{{ standing.playedGames }}</td>
                                <td>{{ standing.won }}</td>
                                <td>{{ standing.lost }}</td>
                                <td>{{ standing.draw }}</td>
                                <td>{{ standing.goalsFor }}</td>
                                <td>{{ standing.goalsAgainst }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% if top_goals_for %}
        <h2 class="mt-4">Top goals scored</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped standings">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>Pts</th>
                            <th>m</th>
                            <th>g+</th>
                            <th>g-</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for standing in top_goals_for %}
                            <tr class="standing">
                                <td>
                                    <a href="{{ path('team_detail', { 'id': standing.team.id }) }}" class="text-decoration-none text-dark">
                                        <img src="{{ standing.team.crest }}" alt="{{ standing.team.name }}" class="standing-team-crest img-thumbnail" />
                                        <strong>{{ standing.team.name }}</strong>
                                    </a>
                                </td>
                                <td>{{ standing.points }}</td>
                                <td>{{ standing.playedGames }}</td>
                                <td><strong>{{ standing.goalsFor }}</strong></td>
                                <td>{{ standing.goalsAgainst }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}